main {
  width: 100%;
  height: 100vh;
  background-color: #12111f;
  position: relative;
  overflow: hidden;
}

section.initial {
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: translateY(0%);
  transition: all ease-in-out 1s 1s;
  z-index: 99;
}

section.initial.up {
  transform: translateY(-100%);
}

section.slider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
  background-color: #ff5678;
  background: linear-gradient(
    90deg,
    rgba(255, 86, 86, 1) 0%,
    rgba(255, 86, 120, 1) 100%
  );
  transition: all ease-in-out 0.5s;
  transform: translateY(100%);
}

section.slider.show {
  transform: translateY(0%);
}

section.slider.hide {
  transform: translateY(-100%) !important;
}

section.gif-shower {
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 1s;
  z-index: 98;
  transform: translateY(0%);
}

section.gif-shower.show {
  transform: translateY(-100%);
}

.miscelaneas-container {
  display: block;
}

.container-app {
  position: relative;
  z-index: 100;
  width: 1200px;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 48px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  user-select: none;
}

.title {
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  color: #f5f5ff;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.title.quote {
  text-align: left;
  margin-bottom: 24px;
  font-size: 54px;
  line-height: 66px;
  padding-right: 20%;
}

.title .day-quote {
  color: #ff5678;
}

.app .selectable-date-container {
  height: 150px;
  position: relative;
}

.app .selectable-date-container .selectable-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  color: #f5f5ff;
  font-family: "Lato", sans-serif;

  text-align: center;
  margin: 4px 0 24px 0;
}

.subtitle .quote {
  font-size: 18px;
  line-height: 24px;
}

.phrase {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 20px;
  color: #b3b6d6;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.phrase.gif {
  text-align: left;
}

.phrase .highlight {
  color: rgba(54, 232, 220, 1);
}

.phrase.share-phrase {
  color: #f5f5ff;
}

@media (max-width: 1200px) {
  .container-app {
    width: 90%;
  }
}

.gif-data-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 101;
  height: auto;
  min-height: 100vh;

  padding: 48px 0;
}

.gif-data-container .gif-data {
  max-width: 1200px;
  align-self: center;
  padding: 0 36px;
  flex: 1 1 70%;
}

.gif-data-container .gif-actions {
  flex: 0 1;
}

.gif-data {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.gif-data .message-quote,
.gif-data .gif-img {
  display: flex;
  align-items: center;
}

.gif-img .gif-img-container {
  width: 400px;
  position: relative;
  max-height: 600px;
}

.gif-img .gif-img-container .loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-screen.loading {
  background-color: #14132194;
}

.loading-screen .loader {
  display: none;
  width: 20%;
  text-align: center;
  vertical-align: top;
}

.loading-screen.loading .loader {
  display: inline-block;
}

/*
  Set the color of the icon
*/
.loading-screen svg path,
.loading-screen svg rect {
  fill: rgba(54, 232, 220, 1);
}

.gif-img .gif-img-container .img-container {
  position: relative;
  display: flex;
}

.gif-img .gif-img-container img {
  width: 100%;
  min-height: 200px;
}

.gif-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  margin-top: 48px;
}

.gif-actions .actions {
  display: flex;
  margin-bottom: 24px;
}

.share-buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.up-mobile {
  display: block;
}

.down-mobile {
  display: none;
}

#button-picker button.down-mobile {
  font-size: 30px;
  width: 75px;
}

@media (max-width: 991px) {
  .container-app {
    max-width: 95%;
  }
  .gif-data-container .gif-data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .title.quote {
    padding-right: unset;
  }
  .message-quote-container {
    max-width: 600px;
    margin-bottom: 42px;
  }
  .gif-data-container .spacer {
    flex: 0 1 20%;
  }
  section.initial,
  section.gif-shower {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .gif-img .gif-img-container {
    max-width: unset;
    width: 600px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 48px;
    line-height: 60px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .title.quote {
    text-align: center;
  }
  .message-quote-container {
    text-align: center;
  }
  .gif-img .gif-img-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .gif-data-container .spacer {
    flex: 0 1 5%;
  }
  .title.quote {
    font-size: 36px;
    line-height: 48px;
  }
  .message-quote-container {
    margin-bottom: 0;
  }
  .subtitle.quote {
    display: none;
  }
  .gif-actions {
    justify-content: flex-start;
    margin-top: 36px;
    width: 100%;
    padding: 0 36px 36px 36px;
  }
  .gif-actions .actions {
    flex-direction: column;
  }
  .gif-actions .actions button {
    border-radius: 0;
    margin: 0;
  }
  .gif-actions .actions button:first-child {
    margin-bottom: 18px;
  }
  .up-mobile {
    display: none;
  }

  .down-mobile {
    display: block;
  }
  .gif-img,
  .gif-img-container {
    width: 100%;
  }
  .gif-img .gif-img-container {
    max-width: unset;
  }
  .title.quote {
    text-align: left;
  }
}
