<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>b-day</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<body>
    <h2>B-DAY</h2>
    <div class="main">
        <h1>Naciste el: <span id="b-day-date"></span></h1>
        <h1>Naciste un: <span id="b-day-week"></span></h1>
        <h1><span id="next-b-date"></span></h1>
        <h1><span id="next-b-day"></span></h1>
        <img id="giphy-img" src="" alt="">
        <p>If you are to picky you can get a <button id="new-gif">NEW GIF</button></p>
        <h1><span id="quote"></span></h1>
        <button id="new-all">GET ALL DIFFERENT</button>
        <a href="./index.html">TRY A DIFFERENT DATE</a>
    </div>
<script src="js/datesManager.js"></script>
<script src="js/daysOfTheWeek.js"></script>
<script src="js/giphyCall.js"></script>
<script src="js/quotesGiphyManager.js"></script>
</body>
</html>