<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<body>
    <h2>HOME</h2>
    <form id="form-bday">
        <div>
            <label for="bday">Enter your birthday:</label>
            <input type="date" id="bday" name="bday" required max="1992-03-29" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            <span class="validity"></span>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
<script src="js/formManager.js"></script>
</body>
</html>