<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Your next birthday!" />
    <meta property="og:image" content="./assets/square.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="You can find out when your next birthday falls in a fun way!" />
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#12111f">
    <meta name="msapplication-TileImage" content="./assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#12111f">
    <link rel="stylesheet" href="./css/main.css">
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <title>nextbirthday</title>
</head>
<body>
    <main>
        <section id="initial" class="initial">
            <div class="miscelaneas-container">
                <div class="circle circle-01"></div>
                <div class="circle circle-02"></div>
                <div class="gradient-circle-container">
                    <div class="gradient-circle gc-01"></div>
                    <div class="gradient-circle gc-02"></div>
                    <div class="gradient-circle gc-03"></div>
                    <div class="gradient-circle gc-04"></div>
                </div>
                <div class="dots-container">
                    <div class="dot dots-01"></div>
                    <div class="dot dots-02"></div>
                    <div class="dot dots-03"></div>
                    <div class="dot dots-04"></div>
                    <div class="dot dots-05"></div>
                    <div class="dot dots-06"></div>
                    <div class="dot dots-07"></div>
                    <div class="dot dots-08"></div>
                    <div class="dot dots-09"></div>
                </div>
                <div class="diagonal-container">
                    <div class="diagonal-line line-01"></div>
                    <div class="diagonal-line line-02"></div>
                    <div class="diagonal-line line-03"></div>
                    <div class="diagonal-line line-04"></div>
                    <div class="diagonal-line line-05"></div>    
                </div>
                <div class="arrows-container">
                    <div class="arrow arrow-01">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-02">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-03">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-04">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                </div>
                <div class="cross-container">
                    <div class="x x-01">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-02">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-03">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-04">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                </div>
            </div>
            <div class="container-app">
                <div class="app">
                    <div >
                        <h1 class="title">How lucky you gonna get <span class="break-word">with your next B-day?</span></h1> <wbr>
                    </div>
                    <div class="selectable-date-container">
                        <div class="selectable-date">
                            <div id="month-picker"></div>
                            <div id="day-picker"></div>
                            <div id="button-picker">
                                <button class="container-picker up-mobile" onclick="chooseDate()">LETS FIND OUT</button>
                                <button class="container-picker down-mobile" onclick="chooseDate()"><ion-icon name="arrow-dropright"></ion-icon></button>
                            </div>
                        </div> 
                    </div>
                    <div >
                        <h3 class="subtitle">Select your date of birth and see wich day of the week your <span class="break-word">next birth day is going to be.</span></h3>
                    </div>
                    <div >
                        <p class="phrase">Fingers cross is a Saturday.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="slider" class="slider"></section>
        <section id="gif-screen" class="gif-shower">
            <div class="miscelaneas-container">
                <div class="circle circle-03"></div>
                <div class="circle circle-04"></div>
                <div class="gradient-circle-container">
                    <div class="gradient-circle gc-01"></div>
                    <div class="gradient-circle gc-02"></div>
                    <div class="gradient-circle gc-03"></div>
                    <div class="gradient-circle gc-04"></div>
                </div>
                <div class="dots-container">
                    <div class="dot dots-01"></div>
                    <div class="dot dots-02"></div>
                    <div class="dot dots-03"></div>
                    <div class="dot dots-04"></div>
                    <div class="dot dots-05"></div>
                    <div class="dot dots-06"></div>
                    <div class="dot dots-07"></div>
                    <div class="dot dots-08"></div>
                    <div class="dot dots-09"></div>
                </div>
                <div class="diagonal-container">
                    <div class="diagonal-line line-01"></div>
                    <div class="diagonal-line line-02"></div>
                    <div class="diagonal-line line-03"></div>
                    <div class="diagonal-line line-04"></div>
                    <div class="diagonal-line line-05"></div>    
                </div>
                <div class="arrows-container">
                    <div class="arrow arrow-01">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-02">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-03">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-04">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                </div>
                <div class="cross-container">
                    <div class="x x-01">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-02">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-03">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-04">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                </div>
            </div>
            <div id="gif-container" class="gif-data-container">
                <div class="gif-data">
                    <div class="message-quote">
                        <div class="message-quote-container">
                            <p id="message-quote" class="title quote">"It's <span class="day-quote">Monday</span>, that's sad AF mate"</p>
                            <span id="subtitle-quote" class="subtitle quote">...</span>
                        </div>
                    </div>
                    <div class="gif-img">
                        <div class="gif-img-container">
                            <div class="img-container">
                                <img id="gif" src="https://media3.giphy.com/media/1isfKcXVAgUv7Egg8n/giphy.gif?cid=1bde3ed4a2776155611b80c8c9950e800297b8db2b7ede6e&rid=giphy.gif" alt="">
                                <div id="gif-loading" class="loading-screen">
                                    <div class="loader loader--style2" title="1">
                                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                                        <animateTransform attributeType="xml"
                                        attributeName="transform"
                                        type="rotate"
                                        from="0 25 25"
                                        to="360 25 25"
                                        dur="0.6s"
                                        repeatCount="indefinite"/>
                                        </path>
                                    </svg>
                                    </div>
                                </div>
                            </div>
                            <p class="phrase gif">If you are to picky you can get a <a href="#" class="highlight" onclick="getNewGif()">New Gif</a></p>
                        </div>
                    </div>
                </div>
                <div class="gif-actions">
                    <div class="actions">
                        <button id="getNewResult" class="btn action-button" onclick="callGiphyAndQuote(null)">Get a new result</button>
                        <button class="btn action-button" onclick="showSlider(true)">Pick a new date</button>
                    </div>
                    <div class="share">
                        <p class="phrase share-phrase">Share your results and help us grow!</p>
                        <div class="share-buttons">
                            <a id="facebook" class="btn share-button" href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.397,20.997v-8.196h2.765l0.411-3.209h-3.176V7.548c0-0.926,0.258-1.56,1.587-1.56h1.684V3.127	C15.849,3.039,15.025,2.997,14.201,3c-2.444,0-4.122,1.492-4.122,4.231v2.355H7.332v3.209h2.753v8.202H13.397z"/></svg></a>
                            <a id="twitter" class="btn share-button" href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.633,7.997c0.013,0.175,0.013,0.349,0.013,0.523c0,5.325-4.053,11.461-11.46,11.461c-2.282,0-4.402-0.661-6.186-1.809	c0.324,0.037,0.636,0.05,0.973,0.05c1.883,0,3.616-0.636,5.001-1.721c-1.771-0.037-3.255-1.197-3.767-2.793	c0.249,0.037,0.499,0.062,0.761,0.062c0.361,0,0.724-0.05,1.061-0.137c-1.847-0.374-3.23-1.995-3.23-3.953v-0.05	c0.537,0.299,1.16,0.486,1.82,0.511C3.534,9.419,2.823,8.184,2.823,6.787c0-0.748,0.199-1.434,0.548-2.032	c1.983,2.443,4.964,4.04,8.306,4.215c-0.062-0.3-0.1-0.611-0.1-0.923c0-2.22,1.796-4.028,4.028-4.028	c1.16,0,2.207,0.486,2.943,1.272c0.91-0.175,1.782-0.512,2.556-0.973c-0.299,0.935-0.936,1.721-1.771,2.22	c0.811-0.088,1.597-0.312,2.319-0.624C21.104,6.712,20.419,7.423,19.633,7.997z"/></svg></a>
                            <a id="whatsapp" class="btn share-button" href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.403,5.633C16.708,3.936,14.454,3.001,12.053,3	c-4.948,0-8.976,4.027-8.978,8.977c0,1.582,0.413,3.126,1.198,4.488L3,21.116l4.759-1.249c1.312,0.715,2.788,1.092,4.29,1.093h0.004	l0,0c4.947,0,8.975-4.027,8.977-8.977C21.03,9.585,20.098,7.33,18.403,5.633 M12.053,19.445H12.05	c-1.339-0.001-2.652-0.36-3.798-1.041l-0.272-0.162l-2.824,0.741l0.753-2.753l-0.177-0.282c-0.747-1.188-1.141-2.561-1.141-3.971	c0.002-4.114,3.349-7.461,7.465-7.461c1.993,0.001,3.866,0.778,5.275,2.188c1.408,1.411,2.184,3.285,2.183,5.279	C19.512,16.097,16.165,19.445,12.053,19.445 M16.146,13.856c-0.225-0.113-1.327-0.655-1.533-0.73	c-0.205-0.075-0.354-0.112-0.504,0.112s-0.58,0.729-0.711,0.879s-0.262,0.168-0.486,0.056s-0.947-0.349-1.804-1.113	c-0.667-0.595-1.117-1.329-1.248-1.554s-0.014-0.346,0.099-0.458c0.101-0.1,0.224-0.262,0.336-0.393	c0.112-0.131,0.149-0.224,0.224-0.374s0.038-0.281-0.019-0.393c-0.056-0.113-0.505-1.217-0.692-1.666	C9.627,7.787,9.442,7.845,9.304,7.839c-0.13-0.006-0.28-0.008-0.429-0.008c-0.15,0-0.393,0.056-0.599,0.28	C8.07,8.336,7.491,8.878,7.491,9.982c0,1.104,0.804,2.171,0.916,2.321c0.112,0.15,1.582,2.415,3.832,3.387	c0.536,0.231,0.954,0.369,1.279,0.473c0.537,0.171,1.026,0.146,1.413,0.089c0.431-0.064,1.327-0.542,1.514-1.066	c0.187-0.524,0.187-0.973,0.131-1.067C16.52,14.025,16.369,13.968,16.146,13.856"/></svg></a>
                            <a id="clipboard" onclick="clipboardUrl()" class="btn share-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4.222 19.778c.975.975 2.255 1.462 3.535 1.462 1.281-.001 2.562-.487 3.536-1.462l2.828-2.829-1.414-1.414-2.828 2.829c-1.169 1.167-3.072 1.169-4.243 0-1.169-1.17-1.169-3.073 0-4.243l2.829-2.828L7.051 9.879l-2.829 2.828C2.273 14.656 2.273 17.829 4.222 19.778zM19.778 11.293c1.948-1.949 1.948-5.122 0-7.071-1.95-1.95-5.123-1.948-7.071 0L9.879 7.051l1.414 1.414 2.828-2.829c1.17-1.167 3.073-1.169 4.243 0 1.169 1.17 1.169 3.073 0 4.243l-2.829 2.828 1.414 1.414L19.778 11.293z"/><path transform="rotate(-134.999 12 12)" d="M11 5.999H13V18H11z"/></svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="js/element-picker.js"></script>
    <script src="js/init-picker.js"></script>
    <script src="js/daysOfTheWeek.js"></script>
    <script src="js/functions.js"></script>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "NextBithday",
        "url": "https://nextbirthday.now.sh/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "{search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
</body>
</html>