<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#12111f">
    <meta name="msapplication-TileImage" content="./assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#12111f">
    <link rel="stylesheet" href="./css/main.css">
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <title>nextbirthday</title>
</head>
<body>
    <main>
        <section id="gif-screen" class="gif-shower">
            <div class="miscelaneas-container">
                <div class="circle circle-03"></div>
                <div class="circle circle-04"></div>
                <div class="gradient-circle-container">
                    <div class="gradient-circle gc-01"></div>
                    <div class="gradient-circle gc-02"></div>
                    <div class="gradient-circle gc-03"></div>
                    <div class="gradient-circle gc-04"></div>
                </div>
                <div class="dots-container">
                    <div class="dot dots-01"></div>
                    <div class="dot dots-02"></div>
                    <div class="dot dots-03"></div>
                    <div class="dot dots-04"></div>
                    <div class="dot dots-05"></div>
                    <div class="dot dots-06"></div>
                    <div class="dot dots-07"></div>
                    <div class="dot dots-08"></div>
                    <div class="dot dots-09"></div>
                </div>
                <div class="diagonal-container">
                    <div class="diagonal-line line-01"></div>
                    <div class="diagonal-line line-02"></div>
                    <div class="diagonal-line line-03"></div>
                    <div class="diagonal-line line-04"></div>
                    <div class="diagonal-line line-05"></div>    
                </div>
                <div class="arrows-container">
                    <div class="arrow arrow-01">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-02">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-03">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                    <div class="arrow arrow-04">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path d='M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z' style='fill:none;stroke:#fafafa;stroke-miterlimit:10;stroke-width:32px'/></svg>
                    </div>
                </div>
                <div class="cross-container">
                    <div class="x x-01">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-02">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-03">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                    <div class="x x-04">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-a</title><line x1='256' y1='112' x2='256' y2='400' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='400' y1='256' x2='112' y2='256' style='fill:none;stroke:#fafafa;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </div>
                </div>
            </div>
            <div id="gif-container" class="gif-data-container">
                <div class="gif-data">
                    <div class="message-quote">
                        <div class="message-quote-container">
                            <p id="message-quote" class="title quote">"..."</p>
                            <span id="subtitle-quote" class="subtitle quote">"..."</span>
                        </div>
                    </div>
                    <div class="gif-img">
                        <div class="gif-img-container">
                            <div class="img-container">
                                <img id="gif" src="" alt="">
                                <div id="gif-loading" class="loading-screen loading">
                                    <div class="loader loader--style2" title="1">
                                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                                        <animateTransform attributeType="xml"
                                        attributeName="transform"
                                        type="rotate"
                                        from="0 25 25"
                                        to="360 25 25"
                                        dur="0.6s"
                                        repeatCount="indefinite"/>
                                        </path>
                                    </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gif-actions">
                    <div class="actions">
                        <button class="btn action-button" onclick="window.location.href ='./index.html'">Pick a new date</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="js/daysOfTheWeek.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/result.js"></script>
</body>
</html>